<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <!-- Custom CSS -->

    <title>Contribution</title>

    <style media="screen">
      .card img {
        height: 350px;
      }
      hr.btm-line {
          height: 3px;
          width: 60px;
          background: green;
          position: relative;
          border: 0;
          margin: 20px 0 20px 0;
      }
      body {
        background: url("images/innerbg.jpg");
      }
      nav {
        color: #e1e2e3;
      }
      .navbar-brand img{
        height: 35px;
      }
      #received {
        color: white;
        background-color: #4BB543;
        padding: 0 5px 0 5px;
      }
    </style>
  </head>

  <body>
    <!-- 1.Clothing
    2.Medicine
    3.Packed food -->
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a href="userhome" class="navbar-brand"><img src="images/logofinal.png" alt="" class="img-fluid"> Altrueon</a>
      <div class="row d-flex justify-content-end mx-2">
        <h4>Hi <%= username.toUpperCase() %>!<a href="mycontributions" class="btn btn-sm p-0 btn-primary ml-3">My Contributions</a><a href="logout" class="btn btn-sm p-0 btn-secondary ml-3">Logout</a></h4>
      </div>
    </nav>
    <div class="container">
      <h1>My Contributions</h1>
      <hr class="btm-line">
      <a href="mycontributionsclothes" class="btn btn-primary">Clothes</a>
      <a href="mycontributionsmeds" class="btn btn-danger">Medicines</a>
      <a href="mycontributionsfood" class="btn btn-warning">Food</a>
      <div class="jumbotron px-2 py-0">
        <% var keys = ["_id","name","date","uid","received"]; %>
        <%  for(var i=0;i<result.length;i++) { %>
          <h5>CONTRIBUTION ID : <%=result[i]['uid']%></h5>
          <% if(result[i]['received'] == false) { %>
            <div class="d-flex justify-content-end">
              <h5 id="received">RECEIVED</h5>
            </div>
          <%} %>
          <h6>DATE : <%=result[i]['date'].toUpperCase()%></h6>
            <% for(var key in result[i]) { %>
              <% if(!keys.includes(key)) { %>
                <p><%=key.toUpperCase()%> : <%=result[i][key]%></p>
            <%  }
          } %>
          <hr>
          <%  } %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
