<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dynamic Editable HTML Table using Javascript, Jquery and Bootstrap with add, edit, and Delete Options</title>
    <!-- CSS files-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src = "functions.js"></script>

  <style media="screen">
nav {
  color: #e1e2e3;
}
.navbar-brand img{
  height: 35px;
}
.thumbnail img {
  width: 350px;
  height: 170px;
}
body {
  background: url("images/innerbg.jpg");
}
</style>
   </head>
  <body>
    <!-- page content -->
     <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a href="adminhome" class="navbar-brand"><img src="images/logofinal.png" alt="" class="img-fluid"> Altrueon</a>
      <div class="row d-flex justify-content-end mx-2">
      <h4>Hi Jon! %>!<a href="logout" class="btn btn-sm p-0 btn-secondary ml-3">Logout</a></h4>
    </div>
     </nav>

    <h1 class="col-md-12 text-center" style="color: black">User Details</h1>
    <div class="container">
    <div class="container text-center">
    <form action="userinfo" method="post">
      <input type="text" name="name" placeholder="Enter username">
      <input type="submit" name="submit" value="Get details!" class="btn btn-sm btn-success my-3">
    </form>
    </div>

    <% if (obj!='') { %>
        <div class="jumbotron px-2 py-0">
          <%  for(var i=0;i<obj.length;i++) { %>
                  <p>First Name : <%=obj[i]['fname']%></p>
                  <p>Last Name : <%=obj[i]['lname']%></p>
                  <p>Email : <%=obj[i]['email']%></p>
                  <p>Phone number : <%=obj[i]['phno']%></p>
                  <p>Address : <%=obj[i]['address']%></p>
            <%  } %>
        </div>
    <% } %>
      </div>


    <!--JS Files-->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  </body>
</html>
